<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="treeview.js"></script>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<ul id="demo">
			<item
			class="item"
			:model="treeData">
		</item>
	</ul>

	<div id = "commentsList">
	</div>

	<script type="text/javascript">
		window.onload = treeView;
	</script>

	<script type="text/x-template" id="item-template">
	<ul>

	<div :class="{bold: isFolder}" style="width: 100%;">
				
		<div style="display: inline-block; width: 2%">	
			<span @click="toggle" v-if="isFolder">[{{ open ? '-' : '+' }}]</span>	
		</div>	
	
		<div style="display: inline-block; width: 90%; border:1px dotted black; background-color: #D3D3D3">
			<div style="width: 100%; margin-top: 2px">
				<textarea style="width: 100%" v-model="model.name" placeholder="Add a new comment"></textarea>
			</div>


			<div>
				<img style="height:15px; width:15px" @click="reply" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEzSURBVEhL7dW9SgNBFMXx9QMVU9lZWAlWammd4BvYCzba+Q52omghCIJg7wOkEMHCRxCSLoKIougDKIJg/mdIYFh2zZ0VL4I58CPcIbuHXTKTbJi/lpHep2uW8IjzMDlFpa/4wr0WPBKXuhXnS12Kl5EvlQfU8CspK4294Q5N7KCBMVSOpbTMEw4wi+To4qKbptDb2MUkzLlA0c2quME8TJnGFYpuVMUztDtM+a78Ax284LO3Noh2whxMKSuP9/EEFrCGQ7SQ/37fNcxnfVH5oANkEad4R3ydbMGcfLn15NKP6hJxsf5kpmBOXH6rBWNGsYe4fB1JUfkxNsOUlrhc29Ut49CeVrEOl6TX/dPU0X/qVS14pg0Vb4fJMftQ8VGYHLMBFZ+FyTEzOMFKmIb5B8myLv+9tE4EsvnLAAAAAElFTkSuQmCC">
			</div>

		</div>
	</div>
	
	<ul v-show="open" v-if="isFolder">

	<item
	class="item"
	v-for="(model, index) in model.children"
	:key="index"
	:model="model">
	</item>
	</ul>
	</ul>
	</script>


</body>

</html>